body {
  background-color: rgb(37, 41, 52);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

button {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  /* line-height: 1.5; */
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.button__outline {
  border-color: rgb(255, 130, 75);
  background-color: transparent;
  color: #fff;
}

.button__outline:hover {
  background-color: rgb(255, 103, 38);
  border-color: rgb(255, 103, 38);
  color: #fff;
}

.button__filled {
  background-color: rgb(255, 130, 75);
  border-color: rgb(255, 130, 75);
  color: #fff;
}

.button__filled:hover,
.button__filled:active {
  background-color: rgb(255, 103, 38);
  border-color: rgb(255, 103, 38);
}

.div__form-container {
  background-color: rgb(58, 62, 72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: inherit;
}

@media (max-height: 960px) {
  .App {
    align-items: flex-start;
  }

  .div__form-container {
    margin-top: 34px;
  }
}

@media (min-height: 960px) {
  .App {
    align-items: center;
  }

  .div__form-container {
    margin-top: 0px;
  }
}

@media (min-width: 1235px) {
  .div__form-container {
    position: relative;
  }

  .div__connect-wallet {
    position: absolute;
    max-width: 200px;
    top: 0px;
    right: -300px;
  }

  .div__field-container:nth-child(n + 3) {
    margin: 30px 0;
  }
}

@media (max-width: 1235px) {
  .div__connect-wallet {
    justify-content: center;
    align-items: center;
  }

  .div__field-container:nth-child(n + 2) {
    margin: 30px 0;
  }
}

@media (min-width: 590px) {
  .div__form-container > form {
    padding: 0 135px;
    max-width: 325px;
  }
}

@media (max-width: 590px) {
  .div__form-container {
    width: 100vw;
    border-radius: 0px;
    margin-top: 0;
    margin-bottom: 0;
  }

  body{
    background-color: rgb(58, 62, 72);
  }

  .div__form-container > form {
    padding: 0 5vw;
  }
}

.div__form-container h3,
.div__form-container span {
  color: rgb(255, 130, 75);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.div__form-container h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 40px 0;
}

.div__field-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.div__field-container a,
.div__field-container a:visited {
  color: rgb(255, 130, 75);
}

.div__field-container a:active,
.div__field-container a:hover {
  color: #fff;
}

.div__twitter-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

@media (min-width: 300px) {
  .div__twitter-info div:first-child {
    max-width: 64%;
  }
}

@media (max-width: 300px) {
  .div__twitter-info div:first-child {
    max-width: 50%;
  }
}

.div__twitter-info button {
  width: 90px;
  height: 44px;
}

.div__telegram-info {
  margin-bottom: 15px;
  width: 100%;
}

.div__submission-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 68px;
  margin-bottom: 50px;
}

.div__submission-details > button {
  height: 54px;
  width: 220px;
  padding: 13px 50px;
}

.div__form-container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 40px;
  width: calc(100% - 24px);
  background: #f9fafb;
  border: 1px solid #e0e2e6;
  box-shadow: inset 0px 1px 3px 0.5px #d1d1d6;
  outline-color: rgb(255, 130, 75);
  font-size: 16px;
  border-radius: 6px;
}

.div__form-container input:focus {
  border: 1px solid rgb(255, 130, 75);
  outline: none !important;
  box-shadow: 0 0 4px rgb(255, 154, 110);
}

.div__form-container input.input__ok {
  border: 1px solid rgb(93, 216, 93);
  outline: none !important;
  box-shadow: 0 0 4px rgb(139, 255, 139);
}

.div__form-container input.input__error {
  border: 1px solid rgb(255, 56, 56);
  outline: none !important;
  box-shadow: 0 0 4px rgb(255, 93, 93);
}

.div__form-container input::placeholder {
  color: #6b7180;
  font-size: 16px;
}

.div__connect-wallet {
  display: flex;
  flex-direction: column;  
  text-align: center;
  /* text-justify: distribute-all-lines; */
}

.div__connect-wallet > div > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div__connect-wallet > div > div:not(:first-child) {
  margin-top: 18px;
}

.div__connect-wallet span {
  margin-top: 10px;
}

.div__connect-wallet span > a,
.div__connect-wallet span > a:visited {
  color: inherit;
}

.div__connect-wallet span > a:hover,
.div__connect-wallet span > a:active {
  color: #fff;
}

.button__connect-wallet {
  height: 54px;
  width: 200px;
}

.button__connect-wallet:disabled,
.button__connect-wallet[disabled] {
  border: 1px solid #dddddd;
  background-color: #dddddd;
  color: #666666;
  cursor: default;
}

.button__join-whitelist:disabled,
.button__join-whitelist[disabled] {
  border: 1px solid rgb(255, 168, 131);
  background-color: rgb(255, 168, 131);
  cursor: default;
}

input:read-only,
input[read-only] {
  background-color: #dddddd;
  border: 1px solid #dddddd;
  color: #666666;
  cursor: default;
}

.div__form-errors {
  margin-top: 3px;
  width: 100%;
}

.div__form-errors span {
  padding-left: 2px;
  font-size: 14px;
}

.status-error {
  color: rgb(255, 56, 56) !important;
}

.status-ok {
  color: rgb(93, 216, 93) !important;
}

.svg___connection-status {
  fill: rgb(93, 216, 93);
  margin-left: 3px;
}
